/*detail_container*/
.detail_container {
    margin: auto;
    width: 1000px;
    height: 380px;
    display: flex;
    justify-content: space-between;
}
.detail_img {
    margin-top: 12px;
    width: 230px;
    height: 330px;
}
.detail_info {
    width: 730px;
    height: 300px;
}
.detail_info-special {
    display: flex;
    margin-bottom: 16px;
}
.detail_info-special--rank{
    border: 2px solid black;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 20px;
    color: rgb(255, 5, 88);
    font-weight: bold;
    font-size: 20px;
}
.detail_info-special--title{
    margin: 0 20px 0 0;
}
.detail_info-special--star{
    margin: 2.5px 0 0 0;
}

/*reviewUpload_container*/
.reviewUpload_container {
    margin: auto;
    width: 950px;
}
.reviewUpload_btn{
    width: 150px;
    height: 40px;
    margin: 0 0 20px 10px;
}
.reviewUpload_card {
    display: none;
}
.reviewUpload_card-star {
    margin-bottom: 10px;
}
.reviewUpload_card-btn {
    margin-top: 20px;
    text-align: center;
}
.upload_btn {
    background-color: black;
    border: none;
    color: white;
}
.upload_btn:hover {
    background-color: rgb(255, 5, 88);
    color: white;
}
.close_btn {
    background-color: white;
    border: 1px solid black;
    color: black;
}
.close_btn:hover {
    background-color: white;
    border: 1px solid rgb(255, 5, 88);
    color: black;
}

/*reviewCard_container*/
.reviewCard_container {
    margin: auto;
    margin-top: 50px;
    width: 950px;
}
.reviewCard_card {
    position: relative;
    margin-bottom: 10px;
}
.reviewCard_card-btn {
    position: absolute;
    top: 15px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
}
.reviewCard_card-text {
    margin-top: 5px;
    height: 120px;
    border: 1px solid black;
    padding: 10px;
    scroll: auto;
}

/*test*/
