* {
  box-sizing: border-box;
  font-family: 'Gowun Dodum', sans-serif;
}

html,
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: #000;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

/* 작품 제목 */
h4 {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 23ch;
  cursor: pointer;
}

/* 대표 이미지 */
.poster {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 150%;
  cursor: pointer;
}

.posterAlbum {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 100%;
  cursor: pointer;
}

/* 글자 수 자르기 */
p.sumContent {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 22ch;
  margin: auto;
}

/* 즐겨찾기 버튼 */
.heart {
  font-size: 30px;
  margin: auto 0 0 auto;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* 슬라이더 */
.swiper {
  width: 96vw;
  /* because swiper bullets are not v isible and covering contents info*/
  padding-bottom: 25px;
}

.swiper-slide {
  height: unset;
  text-align: center;
  font-size: 14px;
  background: #000;
  color: #fff;
  margin-bottom: auto;
  padding: 10px;
  border-radius: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-slide .album {
  height: 100%;
}

/* swiper arrow buttons (css available)*/
/* .swiper-button-prev {
  color: red;
}

.swiper-button-next {
  color: #fff;
} */

/* 슬라이더 끝 */