* {
    font-family: 'Noto Sans KR', sans-serif;
}

.mypage_container{
    /* width: 70%;
    margin: 50px; */
    margin-bottom: 50px;
}
.swiper-wrapper{
    width: 70%;
}

.mypage_comment{
    border: thick double black;
    padding : 10px;
    padding-bottom: 30px;
}

.reviewCard_card-btn{
    top:0px;
    right: 0px;
}

.swiper-slide{
    width:100px;
}

.mypage_date{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.greeting{
    margin-bottom: 100px;
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bold;  
    letter-spacing: 5px;            
    text-shadow: 
         3px  3px 10px rgb(255, 0, 88),
        -3px  3px 10px rgb(255, 0, 88),
         3px -3px 10px rgb(255, 0, 88),
        -3px -3px 10px rgb(255, 0, 88),
         3px  0px 10px rgb(255, 0, 88),
         0px  3px 10px rgb(255, 0, 88),
        -3px  0px 10px rgb(255, 0, 88),
         0px -3px 10px rgb(255, 0, 88);
}

.sub_title{
    color: aliceblue;
    text-shadow: 
    3px  3px 10px black,
   -3px  3px 10px black,
    3px -3px 10px black,
   -3px -3px 10px black,
    3px  0px 10px black,
    0px  3px 10px black,
   -3px  0px 10px black,
    0px -3px 10px black;
}

.square_btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #333; /* 枠の調整 */
    background: #fff; /* ボタンの背景色 */
}

.square_btn::before, .square_btn::after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 3px; /* 棒の幅（太さ） */
height: 27px; /* 棒の高さ */
background: #333; /* バツ印の色 */
}

.square_btn::before {
transform: translate(-50%,-50%) rotate(45deg);
}

.square_btn::after {
transform: translate(-50%,-50%) rotate(-45deg);
}

.square_btn:hover{
background-color: #333;
}

.square_btn:hover .square_btn::after .square_btn::before{
background: white;
}