* {
    font-family: 'Noto Sans KR', sans-serif;
}

.mypage_container{
    /* width: 70%;
    margin: 50px; */
    margin-bottom: 50px;
}
.swiper-wrapper{
    width: 70%;
}

.mypage_comment{
    border: thick double black;
    padding : 10px;
    padding-bottom: 30px;
}

.reviewCard_card-btn{
    top:0px;
    right: 0px;
}

.swiper-slide{
    width:100px;
}

.mypage_date{
    position: absolute;
    right: 10px;
    bottom: 5px;
}