<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>
            function login() {
                $.ajax({
                    type: "POST",
                    url: "/login",
                    data: {userid: $('#userid').val(), password: $('#password').val()},

                    success: function (response) {
                        if (response['result'] == 'success') {
                            // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장
                            $.cookie('mytoken', response['token']);
                            alert('로그인 완료!')
                            window.location.href = '/'
                        } else {
                            // 로그인이 안되면 에러메시지
                            alert(response['msg'])
                        }
                    }
                })
            }
        </script>
    </head>
<body>
    <div class = "container">
        <div class="row mt-5">
            <h1>로그인</h1>
        </div>

        <div class="col-12">
            <br><br>
            <div class="container">
                <h5 class="my-3 border-bottom pb-2">로그인</h5>
                    <div class="mb-3">
                        <label for="userid">사용자 이름</label>
                        <input type="text" class="form-control" name="userid" id="userid">
                    </div>
                    <div class="mb-3">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button onclick="login()" class="btn btn-primary">로그인</button>
            </div>
            <button onclick="location.href='/signup'"><img src=""></button>
            <button onclick="location.href='/kakao/login'"><img src="../static/image/kakao_login_medium_narrow.png"></button>
        </div>
    </div>
</body>
</html>

