<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- normalize -->
    {#    <link rel="stylesheet" href="../static/normalize.css">#}


    <script src="../static/mypage.js"></script>
    <!-- main.css -->
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/banner.css">
    <link rel="stylesheet" href="../static/detail.css">

    <title>Title</title>
</head>
<body>
{% include "banner.html" %}
<div>
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
<div id="bmk">
        <h2>💖즐겨찾기</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="swipeBookmark">
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
<div>
    Comment List
    <div id="comment-list" class="reviewCard_container">
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        // Initialize Swiper
        let swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 10,
                // Responsive breakpoints
                breakpoints: {
                    // when window width is >=
                    120: {
                        slidesPerView: 1,
                        slidesPerGroup: 1,
                        spaceBetween: 10,
                    },
                    380: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                        spaceBetween: 10,
                    },
                    760: {
                        slidesPerView: 3,
                        slidesPerGroup: 3,
                        spaceBetween: 10,
                    },
                    1024: {
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                        spaceBetween: 10,
                    },
                    1280: {
                        slidesPerView: 5,
                        slidesPerGroup: 5,
                        spaceBetween: 10,
                    },
                    1600: {
                        slidesPerView: 6,
                        slidesPerGroup: 6,
                        spaceBetween: 10,
                    }
                },
                loop: true,
                loopAdditionalSlides: 1,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            }
        )
    </script>
</div>

</body>
</html>